@import "normalize";
@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

.welcome {
  background: #373535 url("/images/bg-buckeyepattern.jpg") top center repeat-x;
  padding-top: 2em;
  * {
    color: #fff;
  }
}
footer {
  background-color: #373535;
  padding-top: 1.0625rem;
  * {
    color: #fff;
  }
  img#footer-logo {
    margin: 0 10px 0 0;
  }
}
button, .button {
  white-space: nowrap;
}
#stats span.number {
  display: block;
  font-size: 200%;
}
div#nav-parent {
  border-bottom: 5px solid $primary-color;
}
#report {
  padding-top: 0.875rem;
}
blockquote.pull-quote{
  float: right;
  width: 250px;
}
ul.author-list {
  color: lighten($body-font-color, 30%);
}
