!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title
      OSU Hackathon -
      = item[:title]
    %link{:rel => "stylesheet", :href => "/assets/app.css" }
    %script{:src => "/assets/modernizr.foundation.js" }
  %body
    .header
      .contain-to-grid
        %nav.top-bar
          %ul.title-area
            %li.name
              %h1
                %a{:href => "/"} OSU Hackathon
            %li.toggle-topbar
              %a{:href => "#"}
          %section.top-bar-section
            %ul.right
              %li
                %a{:href => "/#about"} About
              %li
                %a{:href => "/#sponsors"} Sponsors
    .row
      .twelve.columns
        = yield
