---
title: Copyright
---
<div class="row" id="past-winners">
  <div class="small-12 large-12 column">
    <p>Content on this website, excluding OSU and company sponsor images, are copyright 2014 The Open Source Club at The Ohio State University, and are freely available for use under a <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution Share Alike 4.0 License</a>.</p>
    <p>Notable excluded items:</p>
    <ul>
      <li><a href="images/bg-buckeyepattern.jpg">/images/bg-buckeyepattern.jpg</a></li>
      <li><a href="images/bg-navbar.png">/images/bg-navbar.png</a></li>
      <li><a href="images/favicon.ico">/images/favicon.ico</a></li>
      <li><a href="images/sponsors/sponsor-google.png">/images/sponsors/sponsor-google.png</a></li>
      <li><a href="images/sponsors/sponsor-hortonworks.png">/images/sponsors/sponsor-hortonworks.png</a></li>
      <li><a href="images/sponsors/sponsor-library.png">/images/sponsors/sponsor-library.png</a></li>
      <li><a href="images/sponsors/sponsor-osu.png">/images/sponsors/sponsor-osu.png</a></li>
      <li><a href="images/sponsors/sponsor-teradata.png">/images/sponsors/sponsor-teradata.png</a></li>
      <li><a href="images/sponsors/sponsor-usg.png">/images/sponsors/sponsor-usg.png</a></li>
    </li>
  </div>
</div>
