---
title: hack.osu
---

<div class="row welcome">
  <div class="small-12 large-12 column">
    <h1>Sponsor hack.osu 2014</h1>
    <h3>A 25-hour team competition in fall 2014</h3>
    <p>Hack.osu raises awareness of <strong>student talent at OSU</strong> and fosters a competitive, cooperative and congenial culture. Hack.osu is open to OSU student and non-students alike.</p>
    <p class="text-center">
      <a class="button large" href="mailto:sponsors@opensource.osu.edu">Contact us!</a>
    </p>
  </div>
</div>
<hr>
<div class="row" id="stats">
  <div class="small-12 large-12 column">
    <h2>2013 Hackathon Stats</h2>
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-6">
      <li><p>103 participants</p></li>
      <li><p>75 CSE students</p></li>
      <li><p>11 women</p></li>
      <li><p>32 seniors</p></li>
      <li><p>79 undergraduates</p></li>
      <li><p>6 freshmen</p></li>
      <li><p>21 graduate students</p></li>
      <li><p>1 visitor</p></li>
      <li><p>1 psychology major</p></li>
      <li><p>34 teams</p></li>
      <li><p>26 product demos</p></li>
      <li><p>70 students working at 2 a.m.</p></li>
    </ul>
    <p class="text-center">
      <%= link_to 'Read the 2013 Hackathon Report', '/report-2013.html', {:class=>("button")} %>
    </p>
  </div>
</div>
<hr>
<div class="row" id="press">
  <div class="small-12 large-12 column">
    <h2>Press</h2>
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
      <li><a href="http://www.dispatch.com/content/stories/local/2013/11/04/hackathon-teams-at-ohio-state-create-code-for-success.html"><blockquote>Hackathon teams at Ohio State create code to success<cite>The Columbus Dispatch</cite></blockquote></a></li><li><a href="http://thelantern.com/2013/11/ohio-state-students-create-software-programs-in-25-hour-hackathon/"><blockquote>Ohio State students create software programs in 25-hour Hackathon<cite>The Lantern</cite></blockquote></a></li>
    </ul>
  </div>
</div>
<hr>
<div class="row" id="past-sponsors">
  <div class="small-12 large-12 column">
    <h2>Past Sponsors</h2>
    <ul class="small-block-grid-1 medium-block-grid-4 large-block-grid-4">
		<li><a href="https://www.hortonworks.com">
			<img
			alt="Hortonworks"
			title="Hortonworks"
			src="images/sponsors/sponsor-hortonworks.png"></a></li>

		<li><a href="https://www.teradata.com">
			<img
			alt="Teradata"
			title="Teradata"
			src="images/sponsors/sponsor-teradata.png"></a></li>

		<li><a href="https://www.google.com">
			<img
			alt="Google"
			title="Google"
			src="images/sponsors/sponsor-google.png"></a></li>

		<li><a href="https://usg.osu.edu">
			<img
			alt="The Ohio State University Undergraduate Student Government"
			title="The Ohio State University Undergraduate Student Government"
			src="images/sponsors/sponsor-usg.png"></a></li>
		<li><a href="https://library.osu.edu">
			<img
			alt="The Ohio State University Libraries"
			title="The Ohio State University Libraries"
			src="images/sponsors/sponsor-library.png"></a></li>
		<li><a href="https://opensource.osu.edu">
			<img
			alt="The Ohio State University Open Source Club"
			title="The Ohio State University Open Source Club"
			src="images/sponsors/sponsor-osc.png"></a></li>
		<li><a href="https://osu.edu">
			<img
			alt="The Ohio State University"
			title="The Ohio State University"
			src="images/sponsors/sponsor-osu.png"></a></li>
    </ul>
  </div>
</div>
<hr>
<div class="row" id="past-winners">
  <div class="small-12 large-12 column">
    <h2>2013 Winners</h2>
      <p>1st: Lint Biscuit: (Atmosphere:Music your friends like) Ross Johnstal & Ritvik Vasudevan</p>
      <p>2nd: Torre Attack: (spHERO: emergency Sphero app) Naveenraj Nagarathinam, Karthikeyan Thangave, Haribabu Karpaka Vellaya, & Sudharshan Muralidharan </p>
      <p>3rd: GeoVis (Transmapper) Wei Chen, Zhe Xu, & Bo Zhao</p>
      <p>Best Demo1: DMA (Pelotonia Website Practice Rider Matchup) Cody Stammer, Tommy Forte, Daniel Brown, & Dakota Rohrer</p>
      <p>Best Demo2 and Popular Vote Winners: Deku Scrubs (Reddit file storage) Daniel Thau, Steffan Pease, Joseph Warner, & Andrew Fitzgerald</p>
  </div>
</div>



