---
title: "hack.osu :: 2013 Event Report"
---

<div class="welcome">
  <div class="row">
    <div class="small-12 large-12 column">
	   <h1>Event Report: <small>The 2013 OSU Hackathon</small></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-2 medium-4 column">
    <ul class="side-nav">
      <li class="heading">Contents</li>
      <li><a href="#">Abstract</a></li>
      <li class="divider"></li>
      <li><a href="#demographics">Demographics</a></li>
      <li><a href="#why">Why a Hackathon?</a></li>
      <li><a href="#need">Fulfilling a Need</a></li>
      <li><a href="#timeline">Event Timeline</a></li>
      <li><a href="#costs">Costs</a></li>
      <li><a href="#sponsors">Sponsors</a></li>
      <li><a href="#social-media">Social Media Coverage</a></li>
      <li><a href="#feedback">Student Feedback</a></li>
      <li><a href="#planning">Planning</a></li>
      <li><a href="#infrastructure">Infrastructure</a></li>
      <li><a href="#next">Next Steps</a></li>
      <li class="divider"></li>
      <li><a href="#acknowledgements">Acknowledgements</a></li>
      <li><a href="#references">References</a></li>
    </ul>
  </div>
  <div class="large-10 medium-8 column" id="report">
  
    <a href="http://arnab.org/files/HackathonReport.pdf" class="button tiny right">Download the PDF of this report</a>
    Composed by:
      <ul class="author-list">
        <li class="author">Arnab Nandi (<a href="mailto:nandi.9@osu.edu">nandi.9@osu.edu</a>)<br>Assistant Professor, Computer Science & Engineering</li>
        <li class="author">Meris Mandernach (<a href="mailto:mandernach.1@osu.edu">mandernach.1@osu.edu</a>)<br>Associate Professor, Head of Research Services, University Libraries</li>
      </ul>
    
    <p>On November 2<sup>nd</sup> 2013, Ohio State's first university-wide, full-scale Hackathon event was held. The hackathon, "an event in which computer programmers and others involved in software development, including graphic designers, interface designers and project managers, collaborate intensively on software projects," had 103 participants. It brought together undergraduate students, graduate students, faculty, staff and industry partners, showcasing OSU's growing technical culture.</p>
    <p>This document details participant demographics, motivation behind the event, organizational information, event impact, participant feedback & insights, and future plans.</p>
    <figure class="center">
      <img alt="Countdown: 2 hours, 16 minutes, 6 seconds"
        title="Countdown: 2 hours, 16 minutes, 6 seconds"
        src="images/report/1.png">
      <figcaption>Countdown: 2 hours, 16 minutes, 6 seconds</figcaption>
    </figure>
    
    <h2 id="demographics">Demographics</h2>
    <p>There were 103 participants, constituting 34 teams of which 26 gave demonstrations of their work. Breakdowns by specific attributes are as follows:</p>
    <ul class="no-bullet">
      <li>
        <strong>Gender:</strong>
        <ul class="no-bullet">
          <li>11 women (one female grad student)</li>
          <li>92 men</li>
        </ul>
      </li>
      <li>
        <strong>Majors:</strong>
        <ul class="no-bullet">
          <li>75 Computer Science Engineering</li>
          <li>8 Electrical and Computer Engineering</li>
          <li>3 Physics</li>
          <li>3 Engineering Physics</li>
          <li>5 Computer and Information Science</li>
          <li>2 Astronomy and Astrophysics</li>
          <li>1 Stone Laboratory Program</li>
          <li>1 Psychology</li>
          <li>1 Mechanical Engineering</li>
          <li>1 Geography</li>
          <li>1 CSE with a minor in Geography</li>
        </ul>
      </li>
      <li>
        <strong>Students by year:</strong> 79 Undergraduate, 21 Graduate
        <ul class="no-bullet">
          <li>32 Senior</li>
          <li>22 Junior</li>
          <li>19 Sophomore</li>
          <li>11 1st yr Graduate Student</li>
          <li>6 Freshman</li>
          <li>4 2nd yr Graduate Student</li>
          <li>3 3rd yr Graduate Student</li>
          <li>1 Visitor</li>
          <li>1 Graduated</li>
          <li>1 6th yr Graduate. Student</li>
          <li>1 4th yr Graduate Student</li>
        </ul>
      </li>
    </ul>

    <h2 id="why">Why a Hackathon: Student Culture</h2>
    <p>The primary goal of this event was to <strong>raise awareness of technical talent</strong> at OSU and foster a <strong>competitive, yet cooperative, and congenial culture</strong> for talented individuals. It also allowed participants to connect with faculty, labs, centers on campus, and most importantly, with each other: "We didn't know each other before we did this", said one team, who went from being strangers to working together over 20+ hours and producing a demonstrable project. These goals intersected with campus initiatives around student preparedness and community building.</p>
    <blockquote class="pull-quote">"We didn't know each other before we did this"</blockquote>
    <p>The enthusiasm and participation that the event inspired demonstrated that student culture at Ohio State goes beyond just football. Buckeyes are also highly talented in their technical abilities, and passionate about hacker culture. The energy and passion for programming and software development was clearly visible amongst students. The headcount at 2am was 70 students, powering through the night working with their teammates, building out their vision. We believe this passion is strong indicator that OSU needs to actively foster this hacker culture and sustain this vibrant community.</p>
    <p>Hackathons give developers an opportunity to come together, work collaboratively, tackle problems, and compete for fame and glory. OSU has a rich community of student developers. From the Open Source Club to students in Computer Science and Engineering, the campus is home to a talented set of budding programmers. A university-sponsored hackathon gives developers an opportunity to compete, network, and potentially make important academic connections with faculty and labs. Further, this event allows OSU alumni in the tech industry to maintain a spirited connection with their alma mater.</p>
    <p>Putting OSU on the Map: After the event, an undergraduate student wrote in, articulating the need and desire to put OSU on the map:</p>
    <blockquote>I just wanted to send a note thanking you for organizing the Ohio State hackathon this past weekend. Earlier this semester, I attended HackMIT in Boston and it was my first hackathon experience. I was really blown away by the talent and the crazy ideas that came out of it and I wished that I had done more hackathons before. After returning back to Ohio, I wished that OSU would send more students off to these "famous" hackathons, as prior to this fall, I didn't even know they existed.</blockquote>
    
    <h2 id="need">Sensing a Technical Need</h2>
    <figure>
      <img
        alt="Students at work in the basement of the Science and Engineering Library"
        title="Students at work in the basement of the Science and Engineering Library"
        src="images/report/2.png"
        class="right">
    </figure>
    <p>In organizing this event, we observed that OSU has significant IT infrastructure needs across all units in the university. Often, these needs are unmet due to staffing constraints and availability of talent. Further, some projects are "wishlist" or “bells and whistles” items, but are not critical functions, and are hence not a high priority for the units. On the other side, students often lack real-world experience and have a hard time navigating OSU's massive network. Hackathons provide a convenient way to surface local student talent and connect them with a network of OSU and Columbus businesses. For this hackathon, we decided to include these as a list of "bounties"&mdash;a list of project ideas that solved problems at the University Library. Additionally, a recommended-but-unenforced theme was set for the hackathon around the topics of big data and mobile projects. Care was taken to not enforce or monetarily incentivize these tasks, since the hackathon was about creativity, promoting culture, and identifying student talent.</p>
    
    <h2 id="timeline">Event Timeline</h2>
    <p>Check in for participants started at 2pm on Saturday, and event sponsors Hortonworks and Teradata presented talks on Big Data at 3pm. Students programmed non-stop from 4pm Saturday through 1pm on Sunday, followed by 5-minute “lightning” demonstrations. Presentations and judging wrapped up by 5pm on Sunday, November 3rd and prizes were immediately distributed. Food and beverages were served throughout the event, and IT staff were present through the event to provide technical support.</p>
    <p>A typical hackathon runs over a 24 hour period. Since the date that was chosen was when daylight savings time occurred, there was a "Power Hour" between at 2am, since that hour happened twice.</p>
    
    <h2 id="winners">Projects and Winners</h2>
    <p>Projects ranged from from an app to aid suicide prevention (a collaborative project built by a Psychology graduate student and 3 CSE students), to an alarm that will read the weather, to OSYou (Facebook for OSU), to a class selector for CSE that displays required class dependencies via a clustering program.</p>
    <p>Judges scored projects creativity, technical depth, challenge of doing the task in a short amount of time, and usefulness in the real world. Additionally judges awarded two projects for best demonstrations. Separately, the crowd voted for their favorite three teams and the top voted team was awarded the popular vote prize.</p>
    <p><strong>Winners of the 2013 Hackathon:</strong>
      <ul class="no-bullet">
        <li><strong>1<sup>st</sup>:</strong> Atmosphere: Music your friends like: Ross Johnstal & Ritvik Vasudevan</li>
        <li><strong>2<sup>nd</sup>:</strong> spHERO: emergency Sphero app: Naveenraj Nagarathinam, Karthikeyan Thangave, Haribabu Karpaka Vellaya, & Sudharshan Muralidharan</li>
        <li><strong>3<sup>rd</sup>:</strong> GeoVis Transmapper: Wei Chen, Zhe Xu, & Bo Zhao</li>
        <li><strong>Best Demo1:</strong> Pelotonia Website Practice Rider Matchup: Cody Stammer, Tommy Forte, Daniel Brown, & Dakota Rohrer</li>
        <li><strong>Best Demo2 and Popular Vote Winners:</strong> Reddit.com exposed as a file system: Daniel Thau, Steffan Pease, Joseph Warner, & Andrew Fitzgerald</li>
      
      </ul>
    </p>
    <figure>
      <img 
        alt="Hackathon tech talk"
        title="Hackathon tech talk"
        src="images/report/3.png"
        width="100%">
    </figure>
    
    <h2 id="costs">Costs</h2>
    <p>Expenses for the hackathon were predominantly for prizes and food.</p>
    
    <img
      alt="Students at work in the basement of the Science and Engineering Library"
      title="Students at work in the basement of the Science and Engineering Library"
      src="images/report/4.png"
      class="right">
    <ul class="no-bullet">
      <li><strong>Prizes:</strong> Prizes were picked to ensure that they conveyed the "fun" spirit of the Hackathon, attracting an audience that would enjoy the event: 
        <ul>
          <li>Parrot AR Quadcopters</li>
          <li>Nexus 7 Tablets</li>
          <li>Sphero robots</li>
          <li>Leap Motion Devices<li>
          <li>Arduino Kits</li>
        </ul>
      </li>
      <li><strong>Food:</strong> In order to keep the students active through the night, food was provided every few hours. We started with Kickoff snacks, followed by an Adriatico's dinner, a Buckeye Donuts Fourthmeal, Panera Breakfast, and lunch again from Adriatico’s. Coffee & Coke products were available round the clock.</li>
    </ul>
    
    <h2 id="sponsors">Sponsors</h2>
    <p>Event Space (and cleaning costs) was provided by University Libraries. Food and Beverages were sponsored by College of Engineering, Department of Computer Science & Engineering, and Open Source Club (Undergraduate Student Government). Prizes were provided by Google, Hortonworks and Teradata.</p>
    
    <h2 id="social-media">Social Media Coverage</h2>
    <img 
      alt="Students at work in the Science and Engineering Library"
      title="Students at work in the Science and Engineering Library"
      src="images/report/5.png"
      class="right">
    <p>We leveraged Twitter for both publicity and sourcing insights, publishing photographs and commentary throughout the entire event. These were done by an official @osuhackathon account. Organizers and student participants also chimed in with their own tweets and thoughts about the event under the hashtag <a href="https://twitter.com/hashtag/osuhackathon">#osuhackathon</a>. The Twitter feed was used as a backchannel of conversation, allowing organizers to learn about common problems (internet issues) and also announce food arrivals and other logistical notifications to participants who may have stepped away from the Hackathon venue.</p>
    <p>The account and tweets were followed / retweeted by students, OSU Social Media and sponsors. This helped others around campus and around the country follow the event without being there. Several OSU alumni caught the coverage of the event via social media. Some messaged that wished they could have been there, while others chimed in with encouragement:
      <blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/arnabdotorg">@arnabdotorg</a> btw I love the enthusiasm you&#39;re bringing to the department!</p>&mdash; Venu Satuluri (@venusatuluri) <a href="https://twitter.com/venusatuluri/statuses/396712997151711232">November 2, 2013</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
    <blockquote>Having a Twitter account and making a hashtag for the event was great! <cite>Participant feedback in exit survey</cite></blockquote>
    
    <h2 class="feedback">Feedback From Students</h2>
    <p>We sent out a post-event survey for feedback to all participants, 20 of whom responded. Satisfaction ratings averaged very high&mdash;4.5 on 5 for enjoyment at the event. "Great prizes. Great organization. It was a great opportunity to learn, meet peers, and network with professionals" said one student. The organization of the event again rated highly, a 4.5 on 5. The choice of location, the basement of the 18th Ave Library could be improved&mdash;students rated it a 3.7 on 5.</p>
    <p>In terms of impact of publicity, 30% of respondents heard about the hackathon from the OSU Open Source Club meetings, 60% from the posters over campus, 45% from the OSU Open Source Club email list, 30% from the CSE Student Facebook Group, 20% from word-of-mouth, and 5% from a Reddit.com post about the event.</p>
    <p>When asked "What did you like about this event?", students enjoyed the choice of prizes and that food was available all through the event. Several students appreciated the spirit of energy and fun at the event. A few quotes (emphasis ours):</p>
    <blockquote>I loved the fact that this event gave me time to learn how to implement real world applications of CSE.</blockquote>
    <blockquote>The ability to sit down for an extended period of time and just work on a project allowed me to accomplish more in 24 hours than I have since the start of the school year and it made me feel like I actually did something useful for once.</blockquote>
    <blockquote>Ability to create something useful and learn from others.</blockquote>
    <blockquote>It allowed me to participate and gain experience in a group programming setting, something that eis not too stressed in my current/past CSE classes.</blockquote>
    <blockquote>Turns out it was not simple at all, it was incredibly complicated</blockquote>
    <p>When asked "What did you dislike about this event?" several students brought up the choice in location, something we had anticipated, but were limited by resources available to us&mdash;"This would have been much better in a location with windows/fresh air." Some students correctly observed that while the food was available all time and plentiful, there was a lack of healthy options: "like whole fruit, cereal, granola bars, carrots, maybe popcorn even," wrote one student. Another student correctly observed that we should "Increase the supply of hot water for us tea drinkers."</p>
    <p>Some students suggested that judging be done throughout the event and not just at the end, and that openness of code be enforced to ensure fairness. Students wanted to compete against non- OSU students as well: "it would be nice to get more participants from other colleges", one said.</p>
    <p>Students appreciated the event and its timing (it was intentionally spaced between midterms and finals, and on an away-game weekend), and plan to represent OSU at other Hackathons:</p>
    <blockquote>I had a great time, plan to go to [Purdue's] Boilermake, and <strong>plan to come again next year</strong> (assuming there is one next year, which I really hope there is).</blockquote>
    
    <h2 id="planning">Planning</h2>
    <p>Planning for the hackathon began at the end of August. An internal call for sponsors was sent out mid-September, confirming funding for food and refreshments. An external call was sent out a week later to corporate partners for the remaining amount. Prize donations from Google, Teradata and Hortonworks were confirmed by the beginning of October. Weekly planning meetings were held throughout October, with an hour-by-hour timeline available to the organizers team, technical volunteers, and judges before the event.</p>
    
    <h2 id="infrastructure">Infrastructure</h2>
    <p>Being a 24+ hour event, there were several specific needs. Care was taken to anticipate heavy wireless usage, and guest wireless passwords were provided to non-OSU participants. We also ensured that OCIO did not have downtime or maintenance scheduled. Power strips and extension cords were made available for power access, and 24-hour ID access to the building was ensured. Upbeat music played throughout the event in the main room; students also had the option of sitting in the quieter parts of the 18th Ave. Library basement. For students that wanted to make mobile apps / specific projects, iPads and a Sphero were made available on loan. Technical support for programmers, two volunteer IT personnel in six 4-hour shifts, as well as hardware assistance during the presentations were also provided.</p>
    
    <h2 id="next">Next Steps</h2>
    <ul class="no-bullet">
      <li><p><strong>Hack Library:</strong> Since some winning teams had fewer than the expected 4 members, and due to the budget allocations towards prizes, there are some unawarded prizes. These prizes will form "The Hack Library," a lending library of devices that students can borrow to build projects. The student-run OSU Open Source club will be responsibile for these devices, with a physical locker and an online check in/out system.</p></li>
      <li><p><strong>Hack Showcase (Spring) and Hackathon (Fall):</strong> Based on the feedback and enthusiasm from the event, we plan to continue the OSU Hackathon events into the coming years. We plan to have two events per year&mdash;a "showcase" event in the Spring semester, where students (Prior Hackathon winners, and others) will showcase 2-3 top projects. The Fall event will be the actual Hackathon.</p>
        <p>In order to grow the event and make it even more successful, we plan to join <a href="http://mlh.io/">Major League Hacking</a>, the "official" nationwide University hacking league, extending OSU's name across the country and bringing in students from other universities. We plan to increase the budget for both food and prizes, and start looking for a flagship sponsor over the Summer. We plan to institute version control (Sponsored Github accounts, with a hosted Gitlab failover) to allow tracking of progress over time. Judging will be done in 3 phases, spread out over the last 12 hours of the event. Demos will be livecasted and recorded and made available via the web.</p></li>
      <li><p><strong>Long-term Sustainability:</strong> We also plan to engage other OSU entities, such as NEWPATH, OCIO, TCO, and Office of Student Life, and also local Columbus technology companies, both as sponsors and professional partners. Long term, we expect the Hackathon to be managed by the OSU Open Source Club (and faculty advisors), with a sustainable, long-term budget for Hacking events.</p></li>
    </ul>

    <hr>
    
    <h2 id="acknowledgements">Acknowledgements / Personnel</h2>
    <p>The round-the-clock event required significant personnel. We would like to thank everyone involved in the Hackathon:</p>
    <ul class="no-bullets">
      <li id="judges">Judges: 
        <ul>
          <li>Terry Reese (University Libraries)</li>
          <li>Beth Snapp (University Libraries)</li>
          <li>Anish Arora (CSE Faculty)</li>
          <li>Brian Stincer (Teradata)</li>
          <li>Ashutosh Chauhan (Hortonworks)</li>
        </ul>
      </li>
      <li>Technical Talk: 
        <ul>
          <li>Stanley Mlynarczyk, Teradata</li>
          <li>Ashutosh Chauhan, Hortonworks</li>
        </ul>
      </li>
      <li>Organizers: 
        <ul>
          <li>Meris Mandernach (lead)</li>
          <li>Arnab Nandi (lead)</li>
          <li>Chris Wallace (student lead)</li>
          <li>Eric Schnell</li>
          <li>Barry Brinkley</li>
          <li>Danny Dotson</li>
          <li>Tamera Cramer</li>
          <li>Terry Reese</li>
          <li>Brad Henry</li>
        </ul>
      </li>
      <li>Engineering Student Volunteers: Benjamin Kowalski, Erin Maher, Harrisun Chang, Schloka Royhwan, Lauren Bialerwise, Deep Shah, Amy Koehler, Travis Remlinger, Tyler Pedelose, Sean Crane, Mohammad Mohammad, Dennis Tran, Nick Slaster, Chris Allen, Gabriel Henschen, JJ Lok, Madeline Shirk</li>
      <li>Staff / Tech Support: Scott Cheezem, Danny Dotson, Eric Schnell, Brad Henry, Michael Butsko, Steve Romig, Dan Duncan, George Abraham, Kyle Decot, Terry Reese, Barry Brinkley</li>
    </ul>
      
    <figure>
      <img
        alt="Students at work in the Science and Engineering Library"
        title="Students at work in the Science and Engineering Library"
        src="images/report/6.png"
        width="100%">
    </figure>
    <h2 id="references">References and Articles</h2>
    <p>References</p>
      <ul>
        <li><a href="https://library.osu.edu/find/hackathon">2013 Hackathon official website</a></li>
        <li><a href="http://en.wikipedia.org/wiki/Hackathon">Wikipedia: Hackathon</a></li>
      </ul>
    </p>
    <p>Press coverage:
      <ul>
        <li><a href="http://library.osu.edu/staff/newsnotes/nn131106.pdf">OSU Libraries News Notes: "Hackathon a Hit"</a> (pdf)</li>
        <li><a href="http://www.cse.ohio-state.edu/news/news196.shtml">CSE Departmental News: "Hackathon-Success!"</a></li>
        <li><a href="http://ece.osu.edu/news/2013/11/engineering-students-win-first-ohio-state-hackathon">Department of Electrical and computer Engineering: "Engineering students win first Ohio State Hackathon"</a></li>
        <li><a href="https://www.facebook.com/osuengineering/posts/10151803500804032">OSU College of Engineering Facebook post</a></li>
        <li><a href="http://thelantern.com/2013/11/ohio-state-students-create-software-programs-in-25-hour-hackathon/">The Lantern: "Ohio State students create software programs in 25-hour Hackathon"</a></li>
        <li><a href="http://www.dispatch.com/content/stories/local/2013/11/04/hackathon-teams-at-ohio-state-create-code-for-success.html">The Columbus Dispatch: "Hackathon teams at Ohio State create code to success"</a></li>
      </ul>
    </p>
  </div>
</div>

